page-rating {

}
ion-label{
    font-size:110%;
}

.button-container{
    padding:0;
    margin: auto;
}

ion-row{
    margin-left:-20px;
    border: 1px;
}
ion-col{
  padding:10%;  
}

ul {
  padding: 0px;
margin-left: 20%;
  &.rating li {
    padding: 5px 10px;
    background: none;
    color: #8d0100;

    ion-icon {
      font-size: 20px;
    }
  }
}

hr{
  width: 80%;
  height: .5%;
  background-color:#ea706c;
}

.btnrow{
  text-align: center;
  margin:auto;
  margin-top: 50px;
  font-size: 150%;
}

rating{
      margin: auto;
    /* padding: 0px; */
    /* margin: 0px; */
    width: 90%;
}
ul.rating{
  margin: 0px;
  padding: 0px;
}
ul.rating li ion-icon {
    color: #839516;
    font-size: 20px;
}

.labels{
  margin-top: 10px;
}

.rate_ar{
direction: ltr;
}

.rate_en{
direction: rtl;
}

.rate_en>.button-container>ion-row>ion-label{
    margin-left: 10px;
  text-align: left;
}

.rate_ar>.button-container>ion-row>ion-label{
  text-align: right;
}


.rate_en>ion-item>.item-inner>.input-wrapper>ion-label{
  margin-left: 10px;
  text-align: left;
}
.rate_ar>ion-item>.item-inner>.input-wrapper>ion-label{
  text-align: right;
}


.rate_en>ion-item>.item-inner>.input-wrapper>ion-textarea{
padding-left: 20px;
  direction: ltr;
}
.rate_ar>ion-item>.item-inner>.input-wrapper>ion-textarea{
  direction: rtl;
}

.rate_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
}

.rate_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}

.btnrow>button>.button-inner{
     border-bottom-style: solid;
    border-bottom-color: #d4d0cc;
    border-bottom-width: 2px;
    border-bottom-left-radius: 50px;
}
