page-myorders {

}



.served,.rejected,.inProgress{
    margin-top: 10px;
}
.inProgress{
    background: rgba(67, 220, 129, 0.61);;

}   

.rejected{
    background:  rgba(239, 82, 24, 0.54);;
}

.served{
    background:rgba(18, 149, 193, 0.54);
}

.orderiteamcol{
    color: white;
    padding: 0px;
    margin: 0px;
    margin-left: 7px;
}

.ordertext{
    text-align: left;
    padding: 0px;
    margin: 0px;
    
}

.myOrders_en,.myOrders_en>.item-inner>.input-wrapper>ion-label>ion-row{
    direction: ltr;
}

.myOrders_en>.item-inner>.input-wrapper>ion-label>ion-row>.headers>p
{
text-align: right;
}
.myOrders_en>.item-inner>.input-wrapper>ion-label>ion-row>.headers
{
max-width: 30%;
}
 .myOrders_en>.item-inner>.input-wrapper>ion-label>ion-row>.data
{
text-align: left;
}

.myOrders_ar,.myOrders_ar>.item-inner>.input-wrapper>ion-label>ion-row{
    direction: rtl;
}
.myOrders_ar>.item-inner>.input-wrapper>ion-label>ion-row>.headers>p
{
text-align: left;

}
 .myOrders_ar>.item-inner>.input-wrapper>ion-label>ion-row>.data
{
text-align: right;
}
.myOrders_ar>.item-inner>.input-wrapper>ion-label>ion-row>.headers
{
max-width: 30%;
}
.myOrders_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
}

.myOrders_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}

item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left],.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left] {
    margin: 0px;

}

.item-md [item-left], .item-md [item-right],.item-ios [item-left] {
        margin: 0px;

}