page-myorders {

}



.served,.rejected,.inProgress{
    margin-top: 10px;
}
.inProgress{
    background: rgba(67, 220, 129, 0.61);;

}   

.rejected{
    background:  rgba(239, 82, 24, 0.54);;
}

.served{
    background:rgba(18, 149, 193, 0.54);
}

.orderiteamcol{
    color: white;
    padding: 0px;
    margin: 0px;
    margin-left: 7px;
}

.ordertext{
    text-align: left;
    padding: 0px;
    margin: 0px;
    
}

