 <ion-header  [@bounce]="bounceState" >
 <herafieNav withMenu=true></herafieNav>
  <ion-toolbar>
<ion-label class="title"  ngClass="{{titlestyelClass}}">  {{'register.title' | translate }}
</ion-label>  </ion-toolbar>
</ion-header>


<ion-content >
    <!--<ion-toolbar>

  </ion-toolbar>-->


<form [formGroup]="myForm" (ngSubmit)="register(myForm.value)">

 <ion-row class="elementRow" [@flyInOut]="flayState0">
  <ion-col width-100 class=" formcol">
    <ion-item ngClass="{{titlestyelClass}}">
    <ion-label floating>{{'register.name' | translate }}</ion-label>
    <ion-input type="text" [formControl]="myForm.controls['name']"></ion-input>
  </ion-item>
  <div *ngIf="name.hasError('required')"
 class="ui error message">{{'register.required' | translate }}
</div>
  </ion-col>
</ion-row>


 <!--<ion-row class="elementRow">
  <ion-col width-100 class=" formcol">
    <ion-item>
    <ion-label floating>رقم الجوال</ion-label>
    <ion-input type="tel" [formControl]="myForm.controls['mobile']"  disabled="true"></ion-input>
  </ion-item>
    <div *ngIf="mobile.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>-->



 <ion-row class="elementRow" [@flyInOut]="flayState1">
  <ion-col width-100 class=" formcol labelsList" ngClass="{{titlestyelClass}}">
    <ion-row class="labelRow">
    <ion-label>{{'register.city' | translate }}</ion-label>
    </ion-row>
    <ion-row class="iteamRow">
      <ion-item >
   <ion-select  [formControl]="myForm.controls['city']" okText="{{'select'| translate}}" cancelText="{{'cancel'| translate}}"  placeholder="{{'register.cities.mecca'| translate}}"> 
      <ion-option  *ngFor="let city of cityies" value="{{city.name}}"  >{{city.title | translate }}</ion-option>
    </ion-select>
      </ion-item>
    </ion-row>
       <div *ngIf="city.hasError('required')"
 class="ui error message">{{'register.required' | translate }}
</div>
  </ion-col>
</ion-row>





 <ion-row class="elementRow" [@flyInOut]="flayState2">
  <ion-col width-100 class=" formcol labelsList" ngClass="{{titlestyelClass}}">
    <ion-row class="labelRow">
    <ion-label >{{'register.neigh' | translate }}</ion-label>
    </ion-row>
    <ion-row class="iteamRow">
      <ion-item ngClass="{{titlestyelClass}}">
   <ion-select  interface="action-sheet"  [formControl]="myForm.controls['neighborhood']" okText="{{'select'| translate}}" cancelText="{{'cancel'| translate}}" placeholder="{{'register.neighs.almusaffala'| translate}}">
      <ion-option *ngFor="let neighbour of neigbouhoods" value="{{neighbour.name}}" >{{neighbour.title | translate }}</ion-option>
    </ion-select>
      </ion-item>
    </ion-row>
           <div *ngIf="neighborhood.hasError('required')"
 class="ui error message">{{'register.required' | translate }}
</div>
  </ion-col>
</ion-row>


<ion-row class="elementRow" [@flyInOut]="flayState3">
  <ion-col width-100 class=" formcol" ngClass="{{titlestyelClass}}">
    <ion-item ngClass="{{titlestyelClass}}">
    <ion-label floating>{{'register.email' | translate }}</ion-label>
    <ion-input type="email" [formControl]="myForm.controls['email']"></ion-input>
  </ion-item>
  <div *ngIf="email.hasError('required')"
 class="ui error message">{{'register.required' | translate }}
</div>
  </ion-col>
</ion-row>


 
<ion-row class="elementRow" [@flyInOut]="flayState4">
  <ion-col width-100 class=" formcol labelsList"  ngClass="{{titlestyelClass}}">
    <ion-row class="labelRow">
    <ion-label>{{'register.howmethod' | translate }}</ion-label>
    </ion-row>
    <ion-row class="iteamRow">
        <ion-item>

<ion-select [formControl]="myForm.controls['knownFrom']" okText="{{'select'| translate}}" cancelText="{{'cancel'| translate}}" placeholder="{{'register.howmethods.friend'| translate}}">
      <ion-option  *ngFor="let way of knowFromWays" value="{{way.name}}">{{way.title | translate }}</ion-option>
    </ion-select>
        </ion-item>
    </ion-row>
      <div *ngIf="knownFrom.hasError('required')"
 class="ui error message"> {{'register.required' | translate }}
</div>
  </ion-col>
</ion-row>

  <!--<ion-item>
    <ion-label >كلمة المرور</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

 <ion-item>
        <ion-label > إعادة كلمة االمرور </ion-label>
     <ion-input type="password"></ion-input>
  </ion-item>-->

    <!--</ion-item>-->

<ion-row  class="buttonRow" style="margin-bottom: 30px;margin-top: 50px;">
   <button   ion-button color="safety" clear  type="submit" style="font-size: 80%;">
     {{'register.button' | translate }}</button>

</ion-row>
</form>
</ion-content>
