<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  
    <ion-title  >
      <div id="myCustomeTitle">
     <ion-row class="head-row">
      <ion-col width-50 class="head-col headIconCol">
       <span class="icon-icon headIcon"> </span>   
      </ion-col>
        <ion-col width-50 class="head-col headTitleCol">
<ion-row class="head-row">
  <ion-col width-100 class="head-col">
       <span class="titleSpan">{{appTitle}}</span>
  </ion-col>
</ion-row>
<ion-row class="head-row">
    <ion-col width-100 class="head-col">
 <span class="subtitle">{{appsubTitle}}</span>
  </ion-col>
</ion-row>
      </ion-col>
     </ion-row>
      </div>
  
 
 </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="headline">
<ion-label style="    direction: rtl;
    width: 90%; font-size:140%;">حساب جديد </ion-label>
<ion-label style="    direction: rtl;
    width: 90%; margin-top:-20px;">بياناتك</ion-label>
</div>

<form [formGroup]="myForm" (ngSubmit)="register(myForm.value)">

 <ion-row class="elementRow">
  <ion-col width-100 class=" formcol">
    <ion-item>
    <ion-label floating>الإسم</ion-label>
    <ion-input type="text" [formControl]="myForm.controls['name']"></ion-input>
  </ion-item>
  <div *ngIf="name.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>


 <!--<ion-row class="elementRow">
  <ion-col width-100 class=" formcol">
    <ion-item>
    <ion-label floating>رقم الجوال</ion-label>
    <ion-input type="tel" [formControl]="myForm.controls['mobile']"  disabled="true"></ion-input>
  </ion-item>
    <div *ngIf="mobile.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>-->



 <ion-row class="elementRow">
  <ion-col width-100 class=" formcol labelsList">
    <ion-row class="labelRow">
    <ion-label>المدينة </ion-label>
    </ion-row>
    <ion-row class="iteamRow">
      <ion-item>
   <ion-select  [formControl]="myForm.controls['city']">
      <ion-option  *ngFor="let city of cityies" value="{{city}}"  >{{city}}</ion-option>
    </ion-select>
      </ion-item>
    </ion-row>
       <div *ngIf="city.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>





 <ion-row class="elementRow">
  <ion-col width-100 class=" formcol labelsList">
    <ion-row class="labelRow">
    <ion-label >الحى</ion-label>
    </ion-row>
    <ion-row class="iteamRow">
      <ion-item>
   <ion-select   [formControl]="myForm.controls['neighborhood']">
      <ion-option *ngFor="let neighbour of neigbouhoods" value="{{neighbour.name}}" >{{neighbour.name}}</ion-option>
    </ion-select>
      </ion-item>
    </ion-row>
           <div *ngIf="neighborhood.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>


<ion-row class="elementRow">
  <ion-col width-100 class=" formcol">
    <ion-item>
    <ion-label floating>الإيميل</ion-label>
    <ion-input type="email" [formControl]="myForm.controls['email']"></ion-input>
  </ion-item>
  <div *ngIf="email.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>



<ion-row class="elementRow">
  <ion-col width-100 class=" formcol labelsList">
    <ion-row class="labelRow">
    <ion-label>كيف سمعت عنا</ion-label>
    </ion-row>
    <ion-row class="iteamRow">
        <ion-item>

<ion-select [formControl]="myForm.controls['knownFrom']" >
      <ion-option  *ngFor="let method of knowFromWays" value="{{method}}">{{method}}</ion-option>
    </ion-select>
        </ion-item>
    </ion-row>
      <div *ngIf="knownFrom.hasError('required')"
 class="ui error message"> *   مطلوب
</div>
  </ion-col>
</ion-row>

  <!--<ion-item>
    <ion-label >كلمة المرور</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

 <ion-item>
        <ion-label > إعادة كلمة االمرور </ion-label>
     <ion-input type="password"></ion-input>
  </ion-item>-->

    <!--</ion-item>-->

<ion-row  class="buttonRow">
   <button   ion-button color="safety" outline round type="submit">حساب جديد</button>

</ion-row>
</form>
</ion-content>
