<!--
  Generated template for the Services page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [@bounce]="bounceState">
    <herafieNav withMenu=true></herafieNav>
    <ion-toolbar>
        <ion-label class="title" ngClass="{{titlestyelClass}}">{{'mainservices.title' | translate }}
        </ion-label>
    </ion-toolbar>
</ion-header>
<ion-content>

    <!--<script type="text/javascript"> var elms = document.getElementsByClassName("ion-col"); 
var n = elms.length;
 function changeColor(color) { for(var i = 0; i < n; i ++) { elms[i].style.backgroundColor = color; } } for(var i = 0; i < n; i ++) { elms[i].onmouseover = function() { changeColor("yellow"); }; elms[i].onmouseout = function() { changeColor("white"); }; } </script>-->

    <div class="ionicrow">
        <ion-row *ngFor="let row of rows" class="ionicrow">
            <ion-col *ngFor="let col of row" width-100 class="ion-col" (click)="selecteService(col);" [@fade]="fadeState">
                <ion-row class="ionic-icon-row">
                    <span class="fa {{col.iconName}}" [ngClass]="col.className"></span>
                </ion-row>
                <ion-row class="ionic-labels-row">
                    <ion-label class="labels apartment" [ngClass]="col.className">
                        <span [innerHTML]="col.title | translate">
        </span>
                    </ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    <!--<div class="buttonDiv">
    <button class="next" ion-button color="secondary" outline (click)="next()"> التالى   <ion-icon name="ios-arrow-dropright-outline"></ion-icon></button>
<!--</div>-->
</ion-content>