page-about-app {
    background: #666669;
    color: #f3f9ff;
}

.aboutApp{
    margin: 10px;
    direction: rtl;
    margin-top:-3%;
        text-align: center;
}

.rights{
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.logo{
       margin-top: 10%;
    padding: 20px;
        text-align: center;
        font-size: 500%;
        color:#666669;
}

.aboutcontainer{
    //     background: #666669;
    color: #3d9033;;
}

.about_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
}

.about_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}