page-settings {

}

.setting_ar{
direction: rtl;
}

.setting_en{
    direction: ltr;
}

.setting_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
}

.setting_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}

.setting_en>.item-inner>.input-wrapper>ion-label{
text-align: left;
}