

<ion-header [@bounce]="bounceState">
<herafieNav  withMenu=true></herafieNav>
   <ion-toolbar >
<ion-label  class="title"  ngClass="{{titlestyelClass}}">{{'offers.title'| translate }}
</ion-label> 
 </ion-toolbar>
</ion-header>


<ion-content padding>

    <div class="loading" style="    margin-top: 50px;" [style.display]="loadingDisplay">

        <img src="{{loadingsrc}}" style="display:block;     width: 100px;   margin: auto;">
        <div style="    margin-top: 30px;
    color: #9e9d9a;"  [style.display]="sendingError?'none':'block'">
            {{'offers.loading' | translate }}
        </div>

  <div style="    margin-top: 30px;
    color: #9e9d9a;"   [style.display]="sendingError?'block':'none'">
          <div style="    margin-top: 30px;
    color: #9e9d9a;"  >
            {{'offers.error' | translate }}
        </div>
    
 
              </div>

    </div>
<div [style.display]="mainDisplay">
  <div id="allOffers" [style.display]="allOffer">

    <ion-card style="text-align: center;    text-align: center;
        background: rgb(255, 255, 255);
    color: #f3a413;" *ngFor="let notification of notifications" [@fade]="fadeState">
  <ion-card-header style=" 
         padding: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #23b6e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #9fdb61;
    ">
{{notification.title}}   <ion-icon name="ios-color-wand-outline" style="    color: #a4dd68;
    font-size: 230%;"></ion-icon>
 </ion-card-header>
  <ion-card-content style="padding-top: 10px;">
  {{notification.body}}
  </ion-card-content>
</ion-card>
<!--<ion-list>
  <ion-item  *ngFor="let notification of notifications" class="singleUnitPrice" ngClass="{{titlestyelClass}}" (click)="displayOffer(notification)">
    <ion-avatar item-left>
  <ion-icon name="briefcase"></ion-icon>
    </ion-avatar>
   <ion-row class="row">
     <ion-col width-100 class="ion-col desc">
    <h2>{{notification.title}}</h2>
    <p>{{notification.body}}</p>
     </ion-col>

   </ion-row>
  </ion-item>
</ion-list>-->
  </div>
<div id="singleOffer"  [style.display]="singleOffer">
  <div *ngIf="selectNotification">

<ion-card style="text-align: center;">
  <ion-card-header>
{{selectNotification.title}}  </ion-card-header>
  <ion-card-content>
  {{selectNotification.body}}
  </ion-card-content>
</ion-card>

     <button ion-button color="secondary" clear (click)="bakToAll()" style="width: 100%;">
     <span class="button-inner" style="    font-size: 70%;
    color: #3abaa2;
    ">
    <span style="    border-bottom-color: #3abaa2;
    border-bottom-width: 1px;
    border-bottom-style: solid;">
      {{'offers.back' | translate }} 
    </span>
     </span>
      </button>
  </div>
</div>
</div>
</ion-content>
