page-categories {

}
.card-title{
    text-align: center;
    font-size: 1.5em;
}
.title{
    text-align: right;
}

body > ion-app > ng-component > ion-nav > page-categories > ion-content > div.scroll-content > div.buttonDiv > button > span > ion-icon{
      color: #30d05f;
    margin-left: 5%;
    font-size: 120%;
}


.catCol{
    margin: auto;
}

.pagessubTitlcat_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
}

.pagessubTitlcat_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}




