<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [@bounce]="bounceState">
    <herafieNav withMenu=true></herafieNav>
    <ion-toolbar>
        <ion-label class="title" ngClass="{{titlestyelClass}}" >
             <!--{{'services' | translate }}-->
        <span [innerHTML]="mainService | translate">
        </span>
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content >

<ion-row *ngFor="let row of rows" class="ionicrow">
    
    <ion-col *ngFor="let col of row"   width-100  class="ion-col catCol"  (click)="categorySelected(col);"  [@fade]="fadeState">
<ion-row  class="ionic-icon-row">
  <span class="fa {{col.iconName}}" [ngClass]="col.className"></span>
</ion-row>
<ion-row class="ionic-labels-row">
    <ion-label  class="labels apartment" [ngClass]="col.className"  >
        <span [innerHTML]="col.title | translate">

        </span>
        </ion-label>
</ion-row>
</ion-col>
</ion-row>

<!--<div class="buttonDiv" style="margin-bottom:5%;">
    <button class="next" ion-button color="secondary" outline (click)="next()"> التالى   <ion-icon name="ios-arrow-dropright-outline"></ion-icon></button>
</div>-->

</ion-content>
