page-contact-us {

}


#contactUsIc{
    font-size: 200%;
    margin-left: 20px;

}


.con-iteam{
        border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d4d1d1;
}


// .clickable span{
//     text-decoration: underline;
//     color: #568ca7;;
// }