page-pick-date {

}
.alert-tappable{
    text-align: right;
}

.submit{
    margin-top: 10%;
    font-size: 120%;
}

.filebrowser{
    width: 50%;
}

.ion-row{
    text-align: center;
    padding: 0px;

    
}

.select-text{
    width: 150%;
    font-size: 90%;
    color: #22b7dc;
}

.select-md,.select-ios {
    padding:0px;
}
ion-label{
     font-size:140%;
}



.formcol{
    padding: 0px;
}


.iteamRow{
    margin-top: -3%;
}

ion-select.select.select-md {
    margin-right: 30%;
    width: 1000%;
}

.buttonRow{
  text-align: center; 
      margin-top: 7%;
 
}
.button{
    margin: auto;
}
.select-text{
    direction: ltr;
}

.labelRow{
    margin-top: 5%;
}

.icon{
    font-size: 260%;
  color: #7f7f7f;
}

.iconCol{
    text-align: center;    
}

.fileselectedCo{
        text-align: center;
    margin-right: 5%;
    text-decoration: underline;
    font-size: 90%;
    margin-top: 3%;
}

.datetime-text,.select-text,textarea{
    color:#ffa500;
}

// .toolbar-background-md,.toolbar-background{
//   background: #fff568;

// }

body > ion-app > ng-component > ion-nav > page-pick-date > ion-content > div.scroll-content > ion-row.buttonRow > button > span > ion-icon{
       color: #edb111;
    margin-left: 5%;
    font-size: 120%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.pick_en>.labelRow>ion-label{
   text-align: left;
   margin-left: 35px;
}
.pick_en>.iteamRow>ion-item>.item-inner>.input-wrapper>ion-textarea{
direction: ltr;
padding-left: 20px;
}
.pick_en>.iteamRow>ion-item>.item-inner>.input-wrapper>ion-select{
    direction: ltr;
        margin: auto;
}
.pick_en>.iteamRow>ion-item>.item-inner>.input-wrapper>ion-datetime{
    direction: ltr;
    margin: auto;
}

.pick_ar>.labelRow>ion-label{
   text-align: right;
   margin-left: 20px;
   font-size: 110%;
}
.pick_ar>.iteamRow>ion-item>ion-textarea{
direction: rtl;
}
.pick_ar>.iteamRow>ion-item>.item-inner>.input-wrapper>ion-select{
    direction: rtl;
        margin: auto;
}
.pick_ar>.iteamRow>ion-item>.item-inner>.input-wrapper>ion-datetime{
    direction: rtl;
    margin: auto;
}

.pick_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
}

.pick_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}

.action-sheet-md .action-sheet-button{
    margin:0px;
    color:#18859e;
}

.media{
    text-align: center;
    padding-left: 15px;
        padding-top: 15px;

}