page-get-location {

}





        #duration  {
             position: absolute;
    width: 90%;
    right: 5%;
    left: 5%;
    font-size: 120%;
    bottom: 25px;
    direction: rtl;
    text-align: right;
    color: white;
    background-color: #797972;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
        }
    
.sebm-google-map-container,#map {
  height: 100%;
  width: 100%;

  // padding: 10px;
}
.button-inner{
    font-size: 150%;
}

.content{
  // padding: 10px;
  margin: 0;
  padding: 0;

}
.markerBodey{
border-radius: 15px;
    background:#a52a2a;
    position: absolute;
    top: -45px;
    right: -85px;
    text-align: center;
    /* left: 10px; */
    width: 900%;
    height: 150%;
    color: white;
    direction: rtl;
}

ion-fab{
  // width:100%;
  // margin-right: 20%;
  // margin-left: 20%;
}

.marker{
    text-align: center;
}


.markerpulse {
  margin: auto;
	}

	.pulse {
		width: 10px;
		height: 10px;
		border: 5px solid #7fd2e6;

		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		background-color: #00a6cd;
		z-index: 10;
        margin: auto;
        margin-top: 5px;
	}

	.dot {
    position: absolute;
    height: 50px;
		width: 50px;
		top: -15px;
		left: -15px;
		z-index: 2;
		opacity: 0;
		border: 10px solid rgba(0,166,205,1);;
		background: transparent;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		-webkit-animation: flash 2s ease-out;
		-moz-animation: flash 2s ease-out;
		animation: flash 2s ease-out;
    -webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}

  @-moz-keyframes pulse {
	 0% {-moz-transform: scale(0);opacity: 0.0;}
	 25% {-moz-transform: scale(0);opacity: 0.1;}
	 50% {-moz-transform: scale(0.1);opacity: 0.3;}
	 75% {-moz-transform: scale(0.5);opacity: 0.5;}
	 100% {-moz-transform: scale(1);opacity: 0.0;}
  }

  @-webkit-keyframes "flash" {
	 0% {-webkit-transform: scale(0);opacity: 0.0;}
	 25% {-webkit-transform: scale(0);opacity: 0.1;}
	 50% {-webkit-transform: scale(0.1);opacity: 0.3;}
	 75% {-webkit-transform: scale(0.5);opacity: 0.5;}
	 100% {-webkit-transform: scale(1);opacity: 0.0;}
	}


   
    


#minutes 
{   position: relative;
    top: 2px;
    left: 14px;
    border: 1px solid rgba(253, 253, 253, 0.91);
    border-radius: 1000px;
    padding: 5px;
}



/* creates triangle */
.markerBodey:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 70px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color:#a52a2a transparent;
}
   #noConnection{ 
     text-align: center;
     top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    padding: 20%;
   }

   .hiddenItem{
     display: none;
   }

   .address_ar{
      position: absolute;
    width: 90%;
    right: 5%;
    left: 5%;
    top: 1.2%;
    direction: rtl;
    text-align: right;
    background-color: #797972;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 8px;
   }

    .address_en{
      position: absolute;
    width: 90%;
    right: 5%;
    left: 5%;
    top: 1.2%;
    direction: ltr;
    text-align: left;
    background-color: #797972;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 8px;
   }

 .address_en.title{
           direction: ltr;
    width: 90%;
     text-align: center;
        font-size: 130%;
        margin: auto;
    color: #70ca12;
        background-color: #ffffff;

}

 .address_ar.title{
       direction: rtl;
    width: 90%; 
         text-align: center;
         font-size: 130%;
             margin: auto;
    color: #70ca12;

}
    //  .address_en >span{
    //    position: relative;
    //    left: 10px;

    //  }

    //     .address_ar >span{
    //  position: relative;
    //    right: 10px;     }